{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["@prettier/plugin-php", "prettier-plugin-blade"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.blade.php",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
